/* Centrar todo en la pantalla */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffb3ba;
    font-family: 'Arial', sans-serif;
}

/* El cuerpo de la calculadora */
.calculator {
    background-color: #E1EBF4;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 20px 50px #d49aa3;
    width: 320px;
}

h1 {
    color: #4A6094;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

/* Pantalla digital */
#screen {
    background-color: #D1D7C6;
    color: #2A2B26;
    text-align: right;
    padding: 20px;
    font-size: 2.2rem;
    border-radius: 12px;
    margin-bottom: 20px;
    min-height: 40px;
    box-shadow: inset 0 2px 10px rgba(95, 95, 95, 0.5);
    overflow: hidden;
}

/* Contenedor de botones (4 columnas) */
.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12px;
}

/* Estilo base de todos los botones */
input[type="button"] {
    background-color: #E1EBF4;
    color: #4A6094;
    border: 1px solid #4A6094;
    padding: 18px;
    font-size: 1.2rem;
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}

/* pasar raton por encima */
input[type="button"]:hover {
    background-color: #c5d8e8;
    transform: translateY(-2px);
}

/* hacer click */
input[type="button"]:active {
    transform: scale(0.95);
}

input[type="button"].btn-op {
    background-color: #4A6094;
    color: #c5d8e8;
    font-weight: bold;
}

input[type="button"].btn-equal {
    background-color: #4A6094;
    color: #c5d8e8;
    font-weight: bold;
}

input[type="button"].btn-ac {
    background-color: #c1cff0;
    color: #4A6094;
}

.btn-delete {
    background-color: #E1EBF4;
    color: #4A6094;
    border: 1px solid #4A6094;
    border-radius: 12px;
}